Job never gets completed

@alepee I saw there was a closed issue. was this ever fixed or is it still pending?

Thank You.

Hello @VinceG, 

As I answered in issue https://github.com/alepee/node-printer/issues/3 I do not actively maintain this lib, but all PR are welcome.

Please note that the way I wrote this library make it not reliable for real world projects that goes further prototype. It relies on STDOUT from CUPS binaries and is not trustable.

The correct way to manage printers and jobs would be to use IPP protocol defined by RFCs. You can have a look at [node-ipp-interface](https://github.com/alepee/node-ipp-interface), it is based on it but still isn't finished yet. I can give you some help if needed to finish this one.

---
Further reading about IPP

• [RFC 2567](https://tools.ietf.org/html/rfc2567) – Design Goals for an Internet Printing Protocol
• [RFC 2568](https://tools.ietf.org/html/rfc2568) – Rationale for the Structure and Model and Protocol for the Internet Printing Protocol
• [RFC 2569](https://tools.ietf.org/html/rfc2569) – Mapping between LPD and IPP Protocols
• [RFC 2910](https://tools.ietf.org/html/rfc2910) – Internet Printing Protocol/1.1: Encoding and Transport
• [RFC 2911](https://tools.ietf.org/html/rfc2911) – Internet Printing Protocol/1.1: Model and Semantics