Printer.list() returns empty array

I have a requirement to fetch the list of printers accessible by my machine. When I use the node-printer module via the below code I get an empty printer list:

var Printer = require('node-printer');
var options = {
media: 'Custom.200x600mm',
n: 3
};

// Get available printers list
console.log(Printer.list());

I get [] as the response.
I do not get any errors both while installing the module or running this code.

What could be the reason?
I do have printers set up on my windows machine. Do I have to configure the printers in a specific manner to get the list?

Hello @Shraaa1,

what do you get when executing `lpstat -p` in your terminal ?

`lpstat -p`  is not present on Windows. Do you know how install it ?

`lpstat` is part of [CUPS](https://www.cups.org/) and is exclusive to UNIX systems. You may try to install it through windows **bash** implementation or thanks to **Cygwin**.

Once again, I created this package for prototyping purpose. If you wants to build something more stable and reliable you should definitively take a look at the Internet Printing Protocol (IPP) which is a fork of HTTP design specifically for printers.

[from README.md](https://github.com/alepee/node-printer#further-reading-about-ipp)
```md
Further reading about IPP

RFC 2567 – Design Goals for an Internet Printing Protocol
RFC 2568 – Rationale for the Structure and Model and Protocol for the Internet Printing Protocol
RFC 2569 – Mapping between LPD and IPP Protocols
RFC 2910 – Internet Printing Protocol/1.1: Encoding and Transport
RFC 2911 – Internet Printing Protocol/1.1: Model and Semantics
```

On MacOS `Printer.list()` works for me.
But not on Ubuntu. There i get only an empty list. So i have checked your code. You parse `lpstat -p` for the word "printer".
Unfortunately this can only work in untranslated systems. On ubuntu in Germany the word "Drucker" will be displayed instead of "printer". But you could switch to `lpstat -e` instead. This returns only a list of printer names, without any language problems.

Why not using your IPP app? I want to print on an USB label printer. It's no IPP printer. I simply want to send raw ZPL or TSPL printjobs to it.  

Thanks @luxlux for your suggestion. I updated it ;)